.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 5rem;
}

.inputDiv {
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 15%;
}

label {
  font-size: 1.5rem;
  margin-right: 1.15rem;
}
input {
  padding: 0.5rem 1.15rem;
  font-size: 1.15rem;
}

.CartTitle {
  text-align: left;
  padding-left: 15%;
  font-size: 3.5rem;
  font-weight: 450;
}

@media screen and (max-width: 575px) {
  .inputDiv {
    padding-left: 0;
  }
  label {
    font-size: 1.15rem;
    margin-right: 0.5rem;
  }
  input {
    padding: 0.5rem 0.5rem;
    font-size: 1.15rem;
  }
}
